.header {
  background-image: url("./images/header_curve.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 200px;
}

.bg-svg {
  background-image: url("./images/how_to_apply.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

.search-box,
.saved {
  transition: all 200ms ease-in;
}

.job-card:hover {
  transform: translateY(-4px);
  transition: all 100ms ease-in;
}
