.header {
  background-image: url("./images/header_curve.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

body {
  background-color: #e2e8f0;
  margin: 0;
}

.bg-svg {
  background-image: url("./images/how_to_apply.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}
