.header {
  background-image: url("./images/header_curve.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 200px;
}

.bg-svg {
  background-image: url("./images/how_to_apply.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

.search-box,
.saved {
  transition: all 200ms ease-in;
}

.job-card:hover {
  transform: translateY(-4px);
  transition: all 100ms ease-in;
}

.save-icon {
  transition: visibility 1s ease-in;
}

.border-red-500 {
  --border-opacity: 1;
  border-color: #f56565;
  border-color: rgba(245, 101, 101, var(--border-opacity));
}

.border-orange-500 {
  --border-opacity: 1;
  border-color: #ed8936;
  border-color: rgba(237, 137, 54, var(--border-opacity));
}

.border-green-500 {
  --border-opacity: 1;
  border-color: #48bb78;
  border-color: rgba(72, 187, 120, var(--border-opacity));
}

.border-indigo-500 {
  --border-opacity: 1;
  border-color: #667eea;
  border-color: rgba(102, 126, 234, var(--border-opacity));
}

.border-purple-500 {
  --border-opacity: 1;
  border-color: #9f7aea;
  border-color: rgba(159, 122, 234, var(--border-opacity));
}

.border-teal-500 {
  --border-opacity: 1;
  border-color: #38b2ac;
  border-color: rgba(56, 178, 172, var(--border-opacity));
}

.border-pink-500 {
  --border-opacity: 1;
  border-color: #ed64a6;
  border-color: rgba(237, 100, 166, var(--border-opacity));
}

.border-yellow-500 {
  --border-opacity: 1;
  border-color: #ecc94b;
  border-color: rgba(236, 201, 75, var(--border-opacity));
} 
